<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidijing.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aidijing.domain.User">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="nick_name" property="nickName" />
		<result column="real_name" property="realName" />
		<result column="email" property="email" />
		<result column="phone" property="phone" />
		<result column="last_password_reset_date" property="lastPasswordResetDate" />
		<result column="create_manager_admin_user_id" property="createManagerAdminUserId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="is_enabled" property="enabled" />
		<result column="remark" property="remark" />
	</resultMap>
    
	<select id="test" resultMap="BaseResultMap">
		SELECT * FROM manager_user
	</select>

</mapper>
